Source: slu-cli
Section: devel
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: CyberVitexus <vitex@exiv.jinonice.czf>
Build-Depends: debhelper (>= 11),
               dh-golang,
               golang-any,
Standards-Version: 4.2.1
Homepage: https://github.com/sikalabs/slu-cli-docs
XS-Go-Import-Path: github.com/sikalabs/slu-cli-docs
Testsuite: autopkgtest-pkg-go

Package: slu-cli
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: SikaLabs Utils
 Several OPS related utils
